{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>The Data</h1>
            <p>{{ total_count }} total records. <a href="/random">Pitch in and help improve the database.</a></p>
            {% if filtered %}<p><a href="/data" class="btn btn-sm btn-info">Clear Filters</a></p>{% endif %}
            <table class="table">
                <tr>
                    <th>Document</th>
                    <th>Lobbyist</th>
                    <th>Firm</th>
                    <th>Employer</th>
                </tr>
                {% for doc in docs %}
                    <tr>
                        <td><a href="/data/{{ doc.doc_id }}">{{ doc.doc_id }}</a></td>
                        <td><a href="?lobbyist_name={{ doc.lobbyist_name|urlencode }}">{{ doc.lobbyist_name }}</a></td>
                        <td><a href="?firm_name={{ doc.firm_name|urlencode }}">{{ doc.firm_name }}</a></td>
                        <td><a href="?employer_name={{ doc.employer_name|urlencode }}">{{ doc.employer_name }}</a></td>
                    </tr>
                {% endfor %}
            </table>
            <div style="text-align: center;">
	            <ul class="pagination">
	            	{% if previous_page %}
	            		<li><a href="?page={{ previous_page }}">&laquo;</a></li>
	            	{% endif %}
	            	{% for i in range(1, total_pages + 1) %}
	            		{% if i == page %}
	            			<li class="active"><span>{{ i }}</span></li>
	            		{% else %}
				  			<li><a href="?page={{ i }}">{{ i }}</a></li>
	            		{% endif %}
				  	{% endfor %}
				  	{% if next_page %}
	            		<li><a href="?page={{ next_page }}">&laquo;</a></li>
	            	{% endif %}
				</ul>
			</div>
        </div>
    </div>
{% endblock %}
